body {
    font-size:20px; 
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif, sans-serif ;
    background-color: white;
}
nav, main {
    margin: 1.25rem auto;
    max-width: 700px;
}
header, footer {
    background-color:#ff6347;
    color: black ;
    text-align: center;
    
    padding: .5rem;
    padding-top: 20px;
    letter-spacing: 2px;
    margin: 1.25rem auto;
    max-width: 700px;
    border-radius: 5px
}
h1 {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center;  
}

h2 {
    font-size: 1rem;
    text-align: left;
}

header img {
    width: 150px;
    height: auto;
    float: right;
   
    border-radius: 50%;
}
a:hover {
    text-align: center;
    background-color:#ff6347;
    color: white;
    text-decoration: none;
}
.responsive {
    max-width: 100%;
    height: auto;
}
