body {
    font-size:20px; 
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif, sans-serif ;
    background-color: white;
}
nav{
    margin: 1.25rem auto;
    max-width: 760px;
}
h1 {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center;  
}

h2 {
    font-size: 1rem;
    text-align: left;
    border-bottom: 1px solid black;
}
header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    padding-top: 20px;
    padding-bottom:20px;
    max-width: 600px;
    border-radius: 5px
}
header, footer, footer a {
    text-align: center;
    background-color:#ff6347;
    color: white;
}
header img {
    width: 150px;
    height: auto;
    float: right;
    padding-bottom: 5px;
    border-radius: 50%;
}
span {font-weight: 500;}
.responsive {
    max-width: 100%;
    height: auto;
}
