#content {
    width: 640px;
    margin: 0 auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 1em;
}
.first-box {
    background-color: #555358;
    color:white;
    font-size: 1.2em;
    margin-top: -25px;
    margin-top: 0px;
    height: 70px;

}
.first-box img {
    width: 80px;
    height: 80px;
    position: relative;
    border-style: solid;

}
firt
body {margin: .5rem;}
span {font-weight: 700;}
#currentdate {color:rgba(50,50,250,1);}
h1 {
    font-size: 40px;
}