/*table#t01 tr:nth-child(even) {
    background-color: #e7ffed;
    text-align: center;
  }
  table#t01 tr:nth-child(odd) {
    background-color: #e7f0ed;
    text-align: center;
  }*/
  table {
    
    box-shadow: 10px 10px 10px #628ca6;
    font-family: "Ubuntu", sans-serif;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    width:200px;
}
tbody {
    background-color:#e7ffed;
    font-size:19px;
}

table, thead, th, td {
    border:2px solid #b9bbbb;
    border-collapse: collapse;
}
th, td {
    padding: 8px 12px;
    text-align:center;
}
th {
    font-weight: bold;
}
tbody tr:nth-child(even){
    background-color:#e7f0ed;
    
}
thead {
    background-color: #7fb9c2;
    font-size: 30px;
   font-weight: bold;
    
}
tfoot {
    background-color: #7fb9c2;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 10px;
    
}
.whitet {
    background-color: #628ca6;
    color:white;
}