table#t01 tr:nth-child(even) {
    background-color: #e7ffed;
    text-align: center;
  }
  table#t01 tr:nth-child(odd) {
    background-color: #e7f0ed;
    text-align: center;
  }
  table#t01 th {
    color: white;
    background-color: black;
    text-align: center;
  }
  table {
    
    box-shadow: 10px 10px 10px #628ca6;
    font-family: "Ubuntu", sans-serif;
   /* background-color: #e7f0ed;*/
    border-collapse: collapse;
    
}
tbody {
    background-color:#e7f0ed;
    font-size:19px;
}

table, th, td {
    border:1px solid #333;
    border-collapse: collapse;
    padding: 5px;
}
th, td {
    padding: 8px 12px;
    text-align:center;
}
.whitet {
    background-color: #628ca6;
    color:white;
}