img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    color: #23252d;
    background: white;
    font-family: 'EB Garamond', serif;
    max-width: 980px;
}

#logo {
    width: 15%;
    vertical-align: middle;
    padding-right: 30px;
    padding-left: 40px;
}
#logoName{
    padding-left: 10px;
    margin-top: -30px;
    padding-bottom: 1px;
}
h1 {
    font-size: 3rem;
    font-family: 'Fjalla One', sans-serif;
}
h3,h4,h5,h6 {
    margin: 0;
    margin-bottom: 6px;
    line-height: 1;
    color: #CE8964;
    font-family: 'Fjalla One', sans-serif;
}
p {
    margin: 0;
    margin-bottom: 12px;
    line-height: 1;
}
h2 {
    color: #CE8964;
    font-size: 1.8em;
    font-family: 'Fjalla One', sans-serif;
}
main, footer {
    display: flex;
    max-width: 980px;
    justify-content:center;
    align-items: center;
}
header {
    display: flex;
    max-width: 980px;
    align-items: center;
}
nav {
    margin: 0 auto;
    max-width: 980px;
    background-color: #370031;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: white;
	background-color: #370031;
	font-weight: 700;
}
/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
  .responsive li {
	display: block;
}

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: white;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}
}

#content {
    margin: 0 auto;
    padding: 12px 0;
    max-width: 980px;
    background-color: #ffffff;
}

section {
    padding: 12px 0;
}
section {
    padding: 1em;
    margin: 1rem;
}
section div {
    padding: 12px;
}

section img {
    border: 0 solid #000;
    border-radius: 5px;
    background-color: #fff;
}
section.dark img {
    transform: rotate(2.5deg);
}

footer {
    padding: 12px;
    align-items: center;
}
footer p {
    margin: 12px 0;
    align-items: center;
}
#copyright {
    flex: 2 auto;
}
.dark {
    color: white;
    background-color:#370031;
}

.flex {
    display: flex;
    flex-flow: column wrap;
}

.action {
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1em 3em;
    padding: 1em;
    text-align: center;
}
.action button {
    line-height: 2em;
    width: 10em;
    background-color: #e7c24f;
    font-size: 1.5em;
    margin-top: 60px;
}

.Pimage {
    max-width: 100%;
    max-height:100%;
}
.responsive {
    max-width: 100%;
    height: auto;
}
.forecast {
    background-color: rgba(152,152,155, 0.3);
}
.article {
    background-color:rgba(152,152,155, 0.3);
    color: black;
    
}
.grid-container {
    display: inline-grid;
    grid-column-gap: 50px;
  }
  .grid-item {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  #section-3 {
    margin: auto;
    max-width: 60%;
    padding: 100px 12px;
    text-align: center;
}
.banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-box img {
    grid-column: 1 / -1; /* the -1 is just a fancy way to say "span all the columns" */
    grid-row: 1;
}
nav label {
    margin-left: 125px;
}
