img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    color: #23252d;
    background: white;
    font-family: 'EB Garamond', serif;
}

#logo {
    width: 10%;
    vertical-align: middle;
}

#logoName{
    padding-left: 205px;
    margin-top: -130px;
    padding-bottom: 100px;
}

h1,h3,h4,h5,h6 {
    margin: 0;
    margin-bottom: 6px;
    line-height: 1;
    color: #CE8964;
    font-family: 'Fjalla One', sans-serif;
}
p {
    margin: 0;
    margin-bottom: 12px;
    line-height: 1;
}
h2 {
    color: #370031;
    font-size: 1.8em;
    font-family: 'Fjalla One', sans-serif;
}
header, main, footer {
    display: flex;
    align-items: center;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #370031;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: #fff;
	font-weight: 700;
}
/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
  .responsive li {
	display: block;
}

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: white;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}
}

#content {
    margin: 0 auto;
    padding: 12px 0;
    max-width: 960px;
    background-color: #ffffff;
}
#section-3 {
    margin: auto;
    max-width: 60%;
    padding: 100px 12px;
    text-align: center;
}
section {
    padding: 12px 0;
}
section div {
    padding: 12px;
}

section img {
    border: 0 solid #000;
    border-radius: 5px;
    background-color: #fff;
}
section.dark img {
    transform: rotate(2.5deg);
}

footer {
    padding: 12px;
}
footer p {
    margin: 12px 0;
}
#copyright {
    flex: 2 auto;
}
nav label {
    margin-left: 125px;
}

.dark {
    color: white;
    background-color:#370031;
}

.flex {
    display: flex;
    flex-flow: column wrap;
}

.center {
    align-items: center;
}

.banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-box img {
    grid-column: 1 / -1; /* the -1 is just a fancy way to say "span all the columns" */
    grid-row: 1;
}

.action {
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1em 3em;
    padding: 1em;
    text-align: center;
}

.action button {
    line-height: 2em;
    width: 10em;
    background-color: #e7c24f;
    font-size: 1.2em;
    margin-top: 60px;
}