@charset "UTF-8"; /* not necessary */
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */
body {
	font-size: 20px;
	font-family: Helvetica, sans-serif, sans-serif ;
}

/* phone or baseline views **************************/
header,footer {
    background-color:#0b0033;
    color: white;
	text-align: center;
    justify-content: center;
    font-family: 'Dosis', sans-serif ;
    padding: .5rem;
    padding-top: 20px;
    letter-spacing: 2px;
    margin: .75rem auto;
    max-width: 785px;
    border-radius: 5px
}
header img {
    width: 20%;
    vertical-align: middle;
}
nav, main {
	max-width: 798px;
	margin: 0 auto;
}
h1 {
	font-size: 3rem;
}
h2 {
    color: #0c0d0e;
}

nav {
	background-color: #e0e0eb;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #bbb;
	color: #36454f;
}
.active {
	color: orange;
}
main {
	display: column;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main article {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}
main picture {
	display: none;
	margin: 0.5rem;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	/* Horizontal Menu Examples */
	/* Flex *********************/
		nav ul { display: flex; }
		nav ul li { flex: 1 1 100%; }
	

	/* Grid *********************/
	/*		nav ul { 
				display: grid;
				/* grid-template-columns: repeat(5, 1fr); */
	/*			grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
			}*/

	/* Inline-Block             */
	/*
			nav li {display: inline-block;}
	*/

	/* Float                    */
	/*
			nav li {float:left; margin-right:15px;}
			main {clear:both;}
	*/

/*******************************************************/
	
	nav a {
		font-size: 1rem;
	}
	main {
		grid-template-columns: 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
    }
    a {
        color:  rgb(255, 177, 0);
    }
}
