@media only screen and (min-width: 55em){

    /*-------- Hero Section-------- */

    #summary {
        height: 200px;
        width: 200px;
        top: 2rem;
        left: 3rem;
    }
    
    #summary h3 {
        font-size: 1.2em;
    }
    
    #summary span {
        margin: 0;
        font-size: 1rem;
    }
}
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav button {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: white;
    }

    .navigation li:first-child {
        display: none;
    }

    nav ul {
        margin-left: 2%;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        padding: 0;
        display: flex;
        list-style: none;
        text-align: center;
    }

    nav ul li {
        float: left;
        flex: 1 1 100%;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, .3);
        padding: .6rem 1rem;
    }

 /*------------------------hero------------------------------------------*/
 .herodiv {
    position: relative;
}

#herodiv img {
    margin: auto;
    max-width: 100%;
    margin-bottom: 2rem;
    height: auto;
    width: auto;
}

/*----------------------------------------------------------article-------------------------------------------------------------*/
.articleclass img{
    float: right;
    width: 30%;
    height: auto;
    margin-top: -30px;
}
.articleclass{
    padding: 1em;
}
/*---------------------------------------------------contact-------------------------------------------------------------------------------------*/

.contactclass img{
    float: left;
    width: 33%;
    height: auto;
    margin-top: -20px;
    
}
.contactclass{
    padding: 1em;
}


}

/*end large */